html {
  font-family: "Microsoft YaHei", Sans-serif, STXihei, Arial, Verdana;
  background-color: #fff;
  height: 100%;

  a:link, a:hover, a:visited {
    text-decoration: none !important;
  }

  #body {
    display: flex;
    flex-direction: column;
    height: 100%;

    header {
      flex: 0 0 auto;
      margin-bottom: 20px;
    }

    main {
      flex: 1 0 auto;
    }

    footer {
      flex: 0 0 auto;
    }

  }
}

@import "~toastr/toastr";
@import "~@fancyapps/fancybox/dist/jquery.fancybox.min.css";